version: '3'

services:
  nginx:
    build:
      dockerfile: ./Dockerfile
      context: build/docker/nginx
    volumes:
      - ./:/var/www
      - ./build/docker/nginx/config/proxy.conf:/etc/nginx/conf.d/proxy.conf
      - ./build/docker/nginx/logs:/etc/logs/nginx
    depends_on:
      - php
    ports:
      - 3000:80

  php:
    image: php:7.4-fpm
    volumes:
      - ./:/app
      - ./vendor:/app/vendor

  composer:
    image: composer
    command: composer update --ignore-platform-reqs --no-interaction
#    command: tail -f /etc/hosts
    volumes:
      - ./:/app
